table {
  display: inline-table;
}

table,
th,
td {
  margin: 1em;
  border: 2px black solid;
  border-collapse: collapse;
}

th,
td {
  margin: 2em;
  padding: 0.5rem;
}

th {
  background-color: aliceblue;
}

td.even-row {
  border-bottom: none;
  border-top: none;
}

td.top-row {
  border-bottom: none;
}

td.bottom-row {
  border-top: none;
}
